/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --orange: #ff6f3f;
  --lightGray: #f8f8f8;
  --darkGray: #333;
  --red: #df332f;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}



.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--red);
  height: 90vh;

  h2 {
    color: var(--darkGray);
  }
}

.cart-container-content {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

}

.cart-container-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.cart-title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-block: 20px;
  color: white !important;
}

.product-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: #b71c1c;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s;
  border-radius: 15px;
}

.product-link:hover {
  background: white;
  color: #b71c1c;
}

.cart-items {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  overflow-y: scroll;
}


.cart-item {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #fafafa;
  color: #d32f2f;
}

.cart-item img {
  width: 100px;
  border-radius: 10px;
}

.cart-item p {
  color: #d32f2f;
  font-weight: bold;
}

.cart-item .cart-item-price {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  align-items: center;

  span {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }
}

.cart-item {

  .decrease-btn,
  .increase-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d32f2f;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;

    svg path {
      stroke: white;
    }
  }
}

.bottom-cart {
  margin-top: auto;
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 35px;
}

.price-info {
  color: rgb(184, 67, 67);
  text-align: center;
  font-weight: bold;
}

.order-button {
  background-color: var(--red);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-block: 20px;
  transition: 0.3s;
  border-radius: 25px;
}

.order-button:disabled {
  background: gray;
  cursor: not-allowed;
}

.order-button:hover {
  background: #b71c1c;
  color: white;
}