*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #d32f2f;
}

/* Home */


.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  text-align: center;
}

.home-page h2 {
  margin-bottom: 20px;
  color: white;
}

.user-controls {
  display: flex;
  gap: 10px;
}

.user-controls button {
  background-color: white;
  color: #d32f2f;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15px;
}

.user-controls button:hover {
  background-color: #b71c1c;
  color: white;
}


/*login page*/



.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  background-color: #d32f2f;
  color: white;
}

.login-page h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(94, 34, 34, 0.1);
  padding: 40px 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form input {
  width: 300px;
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.login-form input:focus {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.3);
}


.login-form button {
  background-color: white;
  color: #d32f2f;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background-color: #b71c1c;
  color: white;
}



/*sign-up page*/


.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  background-color: #d32f2f;
  color: white;
}

.signup-page h2 {
  color: white;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(68, 3, 3, 0.1);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(78, 75, 75, 0.2);
}

.signup-form input {
  width: 300px;
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease-in-out;

}

.signup-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.signup-form input:focus {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.3);
}

.signup-form button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #d32f2f;
  cursor: pointer;
  transition: 0.3s;
}

.signup-form button:hover {
  background-color: #b71c1c;
  color: white;
}