*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --orange: #ff6f3f;
  --lightGray: #f8f8f8;
  --darkGray: #333;
  --red: #df332f;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #d32f2f;
}

/* Home */

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  overflow-y: scroll;
  border-radius: 0 0 35px 35px;

  img {
    margin-bottom: auto;
    border-radius: 0 0 35px 35px;
    height: 50vh;
    object-fit: cover;
  }

}

.home-page h2 {
  margin-bottom: 20px;
  color: white;
}

.user-controls {
  display: flex;
  gap: 10px;
}

.see-more-btn {
  background-color: white;
  color: var(--red);
  width: 80%;
  font-weight: 700;
}

h2, .user-controls {
  margin-bottom: auto;
  margin-top: 0;
}

.preview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 20px;

  h3, a {
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
}

.user-controls button {
  background-color: white;
  color: #d32f2f;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.user-controls button:hover {
  background-color: #b71c1c;
  color: white;
}

.products-list-home {
  margin: 10px 16px;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 25px;
}

.product-list-item-home {
  display: flex;
  height: 110px;
  background-color: var(--lightGray);
  border-radius: 15px;
  align-items: center;


  img {
    border-radius: 25px;
    height: 80px;
    width: 80px;
    object-fit: contain;
    margin-block: auto;
  }
}

.item-info-home {

}



/*login page*/



.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  background-color: #d32f2f;
  color: white;
}

.login-page h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(94, 34, 34, 0.1);
  padding: 40px 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form input {
  width: 300px;
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.login-form input:focus {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.3);
}


.login-form button {
  background-color: white;
  color: #d32f2f;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background-color: #b71c1c;
  color: white;
}



/*sign-up page*/


.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  background-color: #d32f2f;
  color: white;
}

.signup-page h2 {
  color: white;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(68, 3, 3, 0.1);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(78, 75, 75, 0.2);
}

.signup-form input {
  width: 300px;
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease-in-out;

}

.signup-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.signup-form input:focus {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.3);
}

.signup-form button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #d32f2f;
  cursor: pointer;
  transition: 0.3s;
}

.signup-form button:hover {
  background-color: #b71c1c;
  color: white;
}