@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --lightGray: #f8f8fb;
  --mcdRed: #df332f;
  --mcRedDark: rgb(134, 2, 0);
  --darkGray: #333;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.navbar-cont {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  padding-top: 15px;
  gap: 10px;
  justify-content: space-evenly;
  background-color: var(--mcdRed);
  position:sticky;
}

.navbar-symbol {
  height: 32px;
}

.navbar-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  

  h3 {
    font-size: 0.9rem;
    margin: 0;
    color: white;
    font-weight: 500;
  }

  svg path, h3 {
    stroke: var(--mcRedDark);
    color: var(--mcRedDark);
  }


}

.selected-page a {
  svg path {
    stroke: white;
  }
  h3 {
    color: white;
  }
}

.page-container-with-navbar {
  height: 90vh;
  overflow-y: scroll;
  border-radius: 0 0 35px 35px;
  background-color: white;
}

.page-container {
  overflow-y: scroll;
  background-color: var(--mcdRed);
}

dialog {
  border: none;
  margin: auto;
  padding: 20px;
  border-radius: 25px;

  h4, h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  input {
    border-radius: 8px;
    border: 1px solid var(--darkGray);
    padding: 5px;
  }
  
  .dialog-btn {
    background-color: var(--mcdRed);
    width: 230px;
    border: none;
    border-radius: 15px;
    padding: 5px 7px;
    color: white;
    font-weight: bold;
  }

  .dialog-white-btn {
    background-color: var(--lightGray);
    color: var(--darkGray);
  }

  .short-dialog-btn {
    width: 100px;
    margin: auto;
  }

  .profile-edit-btn {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  html, body {
    ::-webkit-scrollbar {
      display: none;
  }
  }
  #root {
    width: 450px;
    margin: auto;
    border: 2px solid #f69d9b;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    > div {
      border-radius: 35px;
    }
  }
}